	<h1>Wall Street Journal Article Scraper</h1>
	  <div class="row" id="wrapper">
	    <div class="col-md-4" id="enterNotes">
	    	<textarea id="noteinput" name="notei"></textarea>
	    	<button id="savenote">Save Note</button>
	    </div>
	    <div class="col-md-4" id="articles"></div>
	    <div class="col-md-4" id="notes">
	    	<div id="notedata" name="datai"></div>
	    	<h4>Click on note to delete</h4>
<!-- 	    	<button id="deletenote">Delete Note</button>
 -->	    </div>
	  </div>
	  <div class="row" id="navigation">
	  	<div class="col-md-4" id="startitup">
	  		<button id="startengine">Get some WSJ articles</button>
	  	</div>
	  	<div class="col-md-4">
	  		<br>
	  		<br>
	    	<button id="prevArticle">Previous ARRRTicle</button>
	  		<button id="nextArticle">Next ARRRRticle</button>
	    </div>
	  	<div class="col-md-4"></div>
	  </div>
	  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
 	  <script src="./app.js"></script>
