body{
  background-image: image-url(../images/WSJ-cover.jpg) no-repeat center center fixed;
}
body h1{
  font-size:90px;
  color:red;
  float:left;
  margin-top:7%;
  -webkit-transform:rotate(-15deg);
  border: solid 1px black;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
#toprow {
  height:120px;
}
#wrapper{
  width:100%;
  margin: 0 auto;
  padding-top: 5%;
}
#articles{
  width:40%;
  height:300px;
  background-color:#bbb;
  overflow: auto;
  border: solid 1px black;
  border-radius: 10px;
}
#notedata{
  width:25%;
  border-radius: 10px;
  word-wrap:break-word;
}
#noteinput{
  width:100%;
  border-radius: 10px;
  border: solid 1px black;
}
#notes h4{
  padding:10px;
  background-color:#bbb;
  border: solid 1px black;
  border-radius: 5px;
}
button {
  background-color:#bbb;
  border: solid 3px red;
  border-radius: 5px;
}
#enterNotes{
  width:25%;
}
#notedata{
  width:100%;
  height:200px;
  border: solid 1px black;
  background-color:#bbb;
}
#navigation{
  float:center;
}
#startitup{
  padding:10%;
}
textarea, input{
  display:block;
  width:100%;
  background-color: #bbb;
}
input{
  height:36px;
  font-size: 24px;
}
textarea{
  height:200px;
  font-size: 18px;
}
